$dgreen: #0e7030;
$lgreen: #b0e996;
$size: 8px;

$bshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$gshadow: #09471F;

$lred: #feeaed;
$mred: #ff193f;
$dred: #cd0022;

$tableborder: 2px solid $dgreen;

$bold: 700;
$light: 300;